<p>
  <strong>User:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Questions:</strong>
  <ul>
  <% @user.questions.each do |q| %>
    <li><%= link_to q.question, question_path(q) %></li>
  <% end %>
  </ul>
</p>
